{% extends 'base.html' %}

{% block content %}
<form action="/users/add" method="POST">
  <div class="form-group">
    <label for="username">User name</label>
    <input type="text" class="form-control" id="username" placeholder="USER name">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" placeholder="EMAIL input">
  </div>
  <div class="form-group">
    <label for="age">Email</label>
    <input type="text" class="form-control" id="age" placeholder="EMAIL input">
  </div>
  <input type="submit"  value="Save" class="btn btn-primary"/>
</form>
{% endblock %}